body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

/***********************************************************************
 *  MY PICTURE
 **********************************************************************/
.profile-me {
  border-radius: 200px;
  width: 20%;
}

/***********************************************************************
 *  MY NAME
 **********************************************************************/
h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
  justify-content: center;
  padding-bottom: 30px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

/***********************************************************************
 *  SUB-HEADING NOUN
 **********************************************************************/
.h2-web {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 25px;
  font-style: italic;
}

.web {
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

/***********************************************************************
 *  HOME PAGE
 **********************************************************************/
.header {
  padding: 30px 0;
}

/***********************************************************************
 *  NAVBAR
 **********************************************************************/
.navbar {
  background-color: #66BFBF;
}

.navbar-brand {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

a {
  font-family: 'Montserrat', sans-serif;
}

p {
  padding: 10px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;

}

.navbar-dark .nav-item .nav-link{
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover{
border-color: #e4f9f5;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}


/***********************************************************************
 *  ABOUT
 **********************************************************************/
.profile {
  background-color: #e4f9f5;
  padding: 0 100px 70px;
  margin: 100px 0;
}

.photographs {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.photographs:hover {
  text-decoration: none;
  font-weight: bold;
  color: #11999E;
}

/* Hey there */
.hey {
  padding: 70px 0 10px;
}

/***********************************************************************
 *  PORTFOLIO
 **********************************************************************/
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.skills {
  padding: 0 0 50px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.skill {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill3 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

/***********************************************************************
 *  HR
 **********************************************************************/
hr {
  border: dotted #C0C0C0 6px;
  border-bottom: none;
  margin: 50px auto;
  width: 4%;
}

/***********************************************************************
 *  FOOTER
 **********************************************************************/
.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #66BFBF;
}

.footer-name {
  color: #EAF6F6;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  margin: 0;
}

/***********************************************************************
 *  ICONS
 **********************************************************************/
h5 {
  color: #66BFBF;
  font-size: 1.5rem;
}

.social {
  background-color: #e4f9f5;
  margin: auto;
  padding-bottom: 0;
  padding-top: 20px;
}

.copyright {
  color: #66BFBF;
}

.fa-instagram {
  color: #FFFAFA;
  font-size: 30px;
  background: #66BFBF;
  padding: 15px;
  border-radius: 30px;
  margin: 20px;
}

.fa-linkedin {
  color: #FFFAFA;
  font-size: 30px;
  background: #66BFBF;
  padding: 15px;
  border-radius: 30px;
  margin: 20px;
}

.fa-github {
  color: #FFFAFA;
  font-size: 30px;
  background: #66BFBF;
  padding: 15px;
  border-radius: 30px;
  margin: 20px;
}

.fa-code {
  color: #FFFAFA;
  font-size: 30px;
  background: #66BFBF;
  padding: 15px;
  border-radius: 30px;
  margin: 20px;
}

.fa-github:hover {
  color: #333333;
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-linkedin:hover {
  color: #00a0dc;
}

.fa-code:hover {
  color: #614ad3;
}
